<h1>Listing venue_infos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venue_infos.each do |venue_info| %>
      <tr>
        <td><%= venue_info.name %></td>
        <td><%= venue_info.description %></td>
        <td><%= venue_info.picture %></td>
        <td><%= link_to 'Show', venue_info %></td>
        <td><%= link_to 'Edit', edit_venue_info_path(venue_info) %></td>
        <td><%= link_to 'Destroy', venue_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue info', new_venue_info_path %>
